<center>
    <div class="container">
        <div class="content">
            <img src="gambar.png" alt="foto profile">
            <h1>Sabilah</h1>
            <p>Front-end Development </p>    
        </div>
    
        <div class="about"> 
            <div class="title">
                <h3>About me</h3>
            </div>
            
            <div class="p">
                <p>Hi everyone! let me Introduce my self, my name is Sabilah Mudrikah. <br>I'm a web developer using html, css and javascript <br>programming languages. My goal in creating this website is <br>to be able to help the public in communicating information <br>technology in this very fast digital era.
                </p>
            </div>
        </div>
        
    </div>
</center>